<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet of the Day</title>
    <link rel="stylesheet" href="/content/css/styles.css">
</head>
<body>
    <h2>Pet of the Day</h2>
    <div>
        <p><b>Pet Name:</b> <%= petOfDay.PetName %></p>
        <p><b>Pet Age:</b> <%= petOfDay.PetAge %></p>
        <p><b>Pet Reward:</b> <%= petOfDay.PetReward %></p>
        <p><b>Last Seen Zip:</b> <%= petOfDay.LastSeenZip %></p>
        <p><b>Last Seen Date:</b> <%= petOfDay.LastSeenDate %></p>
        <p><b>Last Seen Description:</b> <%= petOfDay.LastSeenDesc %></p>
        <p><b>Owner First Name:</b> <%= petOfDay.OwnerFirstName %></p>
        <p><b>Owner Phone:</b> <%= petOfDay.OwnerPhone %></p>
        <p><b>Image:</b> <img src="<%= petOfDay.ImagePath %>" alt="<%= petOfDay.PetName %>"></p>
    </div>
</body>
</html>

